.nav {
    grid-area: s;
    background-color: darkseagreen;
    display: flex;
    flex-direction: column;
    padding: 10px 0 5px 10px;
}

.nav h3{
    margin: 0 0 10px 0;

}

.item {
    color: white;
    text-decoration: none;
}

.active{
    color: gold;
    text-decoration: none;
}

.friendsBar{
    margin-top: 30px;
}

