#root {
    margin: 0 auto;
}

.wrapper {
    display: grid;

    grid-template-areas:
  "h h"
  "s c";
    grid-template-rows: 80px 1fr;
    grid-template-columns: 200px 1fr;
}

.wrapper-content {
    background-color: blanchedalmond;
    .content {
        grid-area: c;
    }

}




